<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
      <section>
        <span class="block text-5xl font-bold mb-1">Descubre un mundo lleno de</span>
        <div class="text-5xl text-green-500 font-bold mb-3">aventuras, emociones y posibilidades infinitas</div>
        <p class="mt-0 mb-4 text-700 line-height-3">
            Embárcate en viajes que te transformarán, conecta con destinos mágicos y vive experiencias únicas creadas especialmente para ti.
        </p>

        <button pButton pRipple label="Conoce Más" type="button"
        class="mr-3 p-button-raised bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"></button>
    <button pButton pRipple label="Reserva Ahora" type="button"
        class="p-button-outlined border-green-500 text-green-500 hover:bg-green-500 hover:text-white font-bold py-2 px-4 rounded"></button>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="../../../assets/images/home/caminata.webp" alt="Destino turístico espectacular" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>

<app-features></app-features>

<app-grid-card></app-grid-card>


