<div class="h-screen bg-[#4B6F44] flex items-center justify-center">
  <div class="flex flex-col md:flex-row w-full h-full shadow-lg rounded-lg overflow-hidden bg-white">
    <!-- Imagen del turismo -->
    <div class="w-full md:w-1/2 h-full">
      <img src="../../../assets/images/loginregister/login.webp" alt="Imagen de turismo" class="h-full w-full object-cover" />
    </div>

    <!-- Contenedor del formulario -->
    <div class="w-full md:w-1/2 h-full p-6 bg-[#4B6F44] text-white flex flex-col justify-center">
      <h1 class="text-2xl font-bold text-center mb-6">Inicia sesión en CopperTours</h1>

      <!-- Formulario de inicio de sesión -->
      <form (ngSubmit)="onLogin()">
        <!-- Campo de usuario -->
        <div class="mb-4">
          <input
            type="text"
            id="username"
            name="username"
            [(ngModel)]="username"
            placeholder="Usuario"
            class="w-full px-4 py-2 border text-black border-[#6B8E23] bg-[#F5F5DC] rounded-lg focus:outline-none focus:border-[#556B2F]"
            required
          />
        </div>

        <!-- Campo de contraseña -->
        <div class="mb-6">
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Contraseña"
            class="w-full px-4 py-2 border text-black border-[#6B8E23] bg-[#F5F5DC] rounded-lg focus:outline-none focus:border-[#556B2F]"
            required
          />
        </div>

        <!-- Botón de inicio de sesión -->
        <div class="mb-4">
          <button
            type="submit"
            class="w-full bg-[#8B4513] text-white font-bold py-2 px-4 rounded-lg hover:bg-[#A0522D] transition duration-200"
          >
            Iniciar sesión
          </button>
        </div>

        <!-- Opción de inicio de sesión con Google -->
        <div class="flex justify-center">
          <button
            type="button"
            class="flex items-center justify-center bg-[#8B4513] text-white rounded-lg py-2 px-4 hover:bg-[#A0522D] transition duration-200"
          >
            <i class="pi pi-google mr-2"></i>
            Ingresa con Google
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
