<div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
  <div class="grid justify-center">
    <div class="col-12 text-center mt-8 mb-4">
      <h2 class="text-gray-900 font-poppins mb-2 text-4xl">
        Descubre Nuestras Aventuras
      </h2>
      <span class="text-gray-600 text-xl"
        >Explora el mundo con experiencias inolvidables...</span
      >
    </div>

    <!-- Tarjeta 1 -->
    <div class="col-12 md:col-6 lg:col-4 p-4">
      <div
        class="h-auto p-0.5 rounded-lg bg-gradient-to-r from-green-200 to-green-200"
      >
        <div
          class="h-full bg-white rounded-md p-4 flex flex-col justify-between"
        >
          <div
            class="flex items-center justify-center bg-green-100 rounded-md w-14 h-14 mb-3"
          >
            <i class="pi pi-globe text-green-600 text-2xl"></i>
          </div>
          <h5 class="text-gray-900 font-semibold text-lg mb-1">
            Viajes Personalizados
          </h5>
          <p class="text-gray-600 text-sm line-clamp-2">
            Diseña tu aventura perfecta con nuestro equipo experto.
          </p>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-12 md:col-6 lg:col-4 p-4">
      <div
        class="h-auto p-0.5 rounded-lg bg-gradient-to-r from-green-200 to-green-200"
      >
        <div
          class="h-full bg-white rounded-md p-4 flex flex-col justify-between"
        >
          <div
            class="flex items-center justify-center bg-green-100 rounded-md w-14 h-14 mb-3"
          >
            <i class="pi pi-shield text-green-600 text-2xl"></i>
          </div>
          <h5 class="text-gray-900 font-semibold text-lg mb-1">
            Tecnologia Blockchain
          </h5>
          <p class="text-gray-600 text-sm line-clamp-2">
            Innovamos con tecnología Blockchain que impulsa un futuro más
            sostenible.
          </p>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col-12 md:col-6 lg:col-4 p-4">
      <div
        class="h-auto p-0.5 rounded-lg bg-gradient-to-r from-green-200 to-green-200"
      >
        <div
          class="h-full bg-white rounded-md p-4 flex flex-col justify-between"
        >
          <div
            class="flex items-center justify-center bg-green-100 rounded-md w-14 h-14 mb-3"
          >
            <i class="pi pi-star text-green-600 text-2xl"></i>
          </div>
          <h5 class="text-gray-900 font-semibold text-lg mb-1">
            Excelencia en Servicio
          </h5>
          <p class="text-gray-600 text-sm line-clamp-2">
            La calidad que mereces, diseñada para superar tus expectativas.
          </p>
        </div>
      </div>
    </div>

    <!-- Tarjeta 4 -->
    <div class="col-12 md:col-6 lg:col-4 p-4">
      <div
        class="h-auto p-0.5 rounded-lg bg-gradient-to-r from-green-200 to-green-200"
      >
        <div
          class="h-full bg-white rounded-md p-4 flex flex-col justify-between"
        >
          <div
            class="flex items-center justify-center bg-green-100 rounded-md w-14 h-14 mb-3"
          >
            <i class="pi pi-compass text-green-600 text-2xl"></i>
          </div>
          <h5 class="text-gray-900 font-semibold text-lg mb-1">
            Guías Certificados
          </h5>
          <p class="text-gray-600 text-sm line-clamp-2">
            Descubre nuevos sitios con guías locales certificados y confiables.
          </p>
        </div>
      </div>
    </div>

    <!-- Tarjeta 5 -->
    <div class="col-12 md:col-6 lg:col-4 p-4">
      <div
        class="h-auto p-0.5 rounded-lg bg-gradient-to-r from-green-200 to-green-200"
      >
        <div
          class="h-full bg-white rounded-md p-4 flex flex-col justify-between"
        >
          <div
            class="flex items-center justify-center bg-green-100 rounded-md w-14 h-14 mb-3"
          >
            <i class="pi pi-map-marker text-green-600 text-2xl"></i>
            <!-- Alternativa para un árbol -->
          </div>
          <h5 class="text-gray-900 font-semibold text-lg mb-1">
            Turismo Sostenible
          </h5>
          <p class="text-gray-600 text-sm line-clamp-2">
            Viaja cuidando el medio ambiente y apoyando comunidades.
          </p>
        </div>
      </div>
    </div>

    <!-- Tarjeta 6 -->
    <div class="col-12 md:col-6 lg:col-4 p-4">
      <div
        class="h-auto p-0.5 rounded-lg bg-gradient-to-r from-green-200 to-green-200"
      >
        <div
          class="h-full bg-white rounded-md p-4 flex flex-col justify-between"
        >
          <div
            class="flex items-center justify-center bg-green-100 rounded-md w-14 h-14 mb-3"
          >
            <i class="pi pi-briefcase text-green-600 text-2xl"></i>
          </div>
          <h5 class="text-gray-900 font-semibold text-lg mb-1">
            Clientes Directos
          </h5>
          <p class="text-gray-600 text-sm line-clamp-2">
            Turismo a medida para empresas y particulares.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
